
// Colors
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #F5F5F5;

$deliver-primary: #FF5A36;
$deliver-dark: #2c2c2c;
$deliver-light-gray: #f8f9fa;
$bg-neutral-200:#fafafa;
// Fonts
$primary-font: 'Roboto', sans-serif;
